body{
    background-color: darkgoldenrod;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    font-family: Helvetica 'Franklin Gothic Medium',  sans-serif;
    font-size: 15px;


}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
   
}
header a{
    text-decoration: none;
    transition:  0.5s;
    font-weight: 700;
}
header .current a {
    color: black;
    background-color: burlywood;

}
.left-side a{
color: white;
}

header ul li a:hover{
    background-color: burlywood;
    color: white;
}
.container{
    margin-top: 80px;
    width: 80%;
    margin: auto;
    overflow: hidden;
    font-family: Helvetica 'Franklin Gothic Medium',  sans-serif;
    font-size: 15px;
}
img{
    filter: brightness(70%);
    transition: 1s;
}


 
#size img{
    display: flex;
    float: left;
    margin-right: 10px;
    font-size: 20px;
    width: 300px;
   
    margin-top: 0px;
}
#ceo img{
    display: flex;
    float: left;
    margin-right: 10px;
    font-size: 20px;
    width: 200px;
    
}
#legal img{
   
    display: flex;
    float: left;
    margin-right: 10px;
    font-size: 20px;
    width: 200px;
    
}
#market img{
   display: table-column;
    display: flex;
    float: left;
    margin-right: 10px;
    font-size: 20px;
    width: 200px;
    
}
#values img{
   
    display: flex;
    float: left;
    margin-right: 10px;
    font-size: 20px;
    width: 200px;
    /* height: 350px; */
    
}
.container{
    background-color: burlywood;
}

