body{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;

}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
   
}
header a{
    text-decoration: none;
}
.left-side a{
color: black;
}
.container{
    margin-top: 80px;
    width: 80%;
    margin: auto;
    overflow: hidden;
    font-family: Helvetica 'Franklin Gothic Medium',  sans-serif;
    font-size: 15px;
}
