body{
    background-image: url("./GREENY-REAL-ESTATE/images/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;

}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    font-family: Helvetica 'Franklin Gothic Medium',  sans-serif;
    font-size: 15px;
}
p img{
    padding: 4
}
.box
